<html>
    <head>
        <meta charset="UTF-8">
        <title>Books</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <header class="header">
            <div class="title">
                <h1><a href="home">BooksApplication</a></h1>
            </div>
            <nav class="navigation">
                <ul class="nav">
                    <li><a href="home">Home</a></li>
                    <li><a href="register">Register</a></li>
                    <li><a href="login">Login</a></li>
                </ul>
            </nav>
        </header>
        {{{body}}}
    </body>
</html>