<html>
    <head>
        <meta charset="UTF-8">
        <title>Error {{{errorCode}}}</title>
        <link rel="stylesheet" type="text/css" href="css/error.css">
    </head>
    <body>
        <h1>Error {{{errorCode}}}</h1>
    </body>
</html>